.heritageImgContainer {
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
}

.heritageImgContainer .mainHeading {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 0 10px #000;
    z-index: 1;
}

.heritageImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.detailsContainer {
    margin-top: 50px;
    padding: 5px 200px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 10px;

}