.gallerySection {
    padding: 10px 200px;
    margin-top: 150px;
}

.galleryContainer {
    margin: 20px auto;
}


.galleryContainer .image-container {
    columns: 3 250px;
    gap: 15px;


}

.galleryContainer .image-container img {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.galleryContainer .image-container img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.gallaryHeading h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 900;
    color: #0f3052;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;


}

.gallaryHeading p {
    font-size: 15px;
    color: #c2c0c1;
    text-align: center;


}