@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}


/* navbar.............................. */
.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100;
    background-color: #fafafa;

}

.logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navItems li {
    list-style: none;
    padding: 0 20px;
    color: #0f3052;
}

.navItems li a:hover {
    color: #1f86ec;

}

.auth a {
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.6s;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.auth .loginBtn {
    background-color: #ff6b56;
    color: #fafafa;
}


/* a new world..................................... */

/* main {
    margin-top: 100px;
} */


.newWorld {
    display: flex;
    margin-top: 150px;
    padding: 10px 150px;

}

.newWorld .left {
    padding: 10px 50px;
    flex: 1;

}

.newWorld .right {
    padding: 10px 50px;
    flex: 1;

}

.newWorld .left h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    color: #0f3052;
    margin-bottom: 20px;
}

.newWorld .left p {
    font-size: 16px;
    color: #c2c0c1;
    margin-bottom: 20px;
}

.newWorld .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.twoBtn {
    display: flex;
}

.twoBtn a:first-child {
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.6s;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.twoBtn .discover {
    background-color: #ff6b56;
    color: #fafafa;
}

.twoBtn .videoContainer {
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.6s;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.twoBtn .videoContainer .playIcon {
    color: #ff6b56;
    margin-right: 10px;
}

/* destinations............................................. */
.destination {
    padding: 10px 200px;
    width: 100vw;

}

.destination .heading h1 {
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    color: #0f3052;
    margin-top: 20px;
}

.destinationContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: 0.6s;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.destinationContainer .imageContainer {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.8s;
}

.destinationContainer .imageContainer:hover {
    transform: scale(110%);
    transition: 0.8s;

}

.destinationContainer .detailsContainer {
    flex: 1;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;


}

.destinationContainer .detailsContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.destinationContainer .title h1 {
    font-size: 20px;
    font-weight: bold;
    color: #0f3052;
}

.destinationContainer p {
    color: #0f3052;
}

.destinationContainer .details {
    margin-top: 20px;
}

.destinationContainer .details .title,
.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destinationContainer .location i {
    color: #c92901;
    font-size: 15px;
}

.destinationContainer .location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.destinationContainer .location,
.location p {
    color: #c2c0c0;
}

.destinationContainer .ratings {
    display: flex;
    color: #f2bc56;
    font-size: 15px;
    gap: 5px;

}

/* adventures------------------------------------- */

.adventures {
    width: 100vw;
    padding: 10px 200px;
    margin-top: 50px;

}

.adventureContainer .headings {
    text-align: center;

}

.adventureContainer .headings h1 {
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    color: #0f3052;
    margin-top: 20px;
    margin-bottom: 50px;
}

.adventureDetailsContainer {
    display: flex;
    margin-bottom: 20px;
    transition: 0.6s;
    gap: 10px;
    margin-top: 30px;

}

.adventureMainDetails {
    flex: 1;
    width: 100%;
}

.adventureMainDetails .imageContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.8s;
}

.adventureMainDetails .imageContainer:hover {
    transform: rotate(10deg);
    transition: 0.8s;

}

.adventureMainDetails .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.adventureSubDetails h1 {
    font-size: 18px;
    text-align: center;
    line-height: 1;
    font-weight: 400;
    color: #0f3052;
    margin-top: 20px;
    margin-bottom: 20px;
}

.adventureSubDetails p {
    color: #c2c0c1;
    margin-bottom: 30px;
}

.adventureSubDetails a {
    background-color: #ff6b56;
    color: white;
    font-weight: 500;
    transition: 0.6s;
    margin-left: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* footer------------------------------------------------------  */

.footerContainer {
    padding: 10px 200px;
    width: 100vw;
    margin-top: 50px;
    background-color: #e8e8ec;

}

.footerContainer .subFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footerContainer .subFooter .subLinks,
.socialLinks,
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #0f3052;
    flex: 1;

}

.footerContainer .subFooter h2 {
    font-size: 20px;
    font-weight: 500;

}

.footerContainer .socialLinks .socialIcon {
    font-size: 20px;
    color: #0f3052;
    transition: 0.6s;
    margin-right: 20px;
}

.footerContainer .copyRight {
    text-align: center;
    color: #0f3052;
    margin-bottom: 20px;
    margin-top: 100px;

}

.footerContainer .copyRight h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

}